.classpath
.idea/
.jshintrc
.project
.settings
.vs
*.sln
bin
build.sh
classes
docs/
dotnet/
index.html
java/
etc/
javascript/debug/
javascript/devel/
javascript/examples/
javascript/index.html
mxgraph-dotnet.*suo
php/
pom.xml
target
rollup.config.mjs
rollup.config.ts.mjs
tsconfig.json